@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  @apply bg-slate-950 text-slate-100;
}

a {
  @apply transition duration-150;
}
